{% extends 'base.html.twig' %}

{% block title %}Hôtel{% endblock %}

{% block body %}
    <style>
        .hotel{
            margin-top: 15px;
            display: flex;
            justify-content: center;
        }
        .hotel h1{
            color:rgb(193, 172, 55);
        }
        .containere{
            display: flex;
            justify-content: space-between;

        }
    </style>

<div class="hotel">
   
    <div class="container mt-5">
        <div class="containere">
            <h1 style="text-align: center; margin-bottom:15px;">Restaurents Marakech</h1>
            {% if isAdmin %}
                    <a href="{{ path('app_reserva_restaurants_index') }}"><button class="btn btn-secondary">Gestion des reservation</button></a>
            {% endif %}
        </div>
        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            {% for restaurent in restaurents %}
                <div class="col" style="margin-bottom: 10px;">
                    <div class="card h-100 shadow-sm" >
                        
                        <a href="{{ path('app_restaurent_show', {'id': restaurent.id}) }}">
                            <img src="{{ asset('img/Restaurent/' ~ restaurent.photo) }}" class="card-img-top" alt="{{ restaurent.name }}" style="height: 300px;">
                        </a>
                        
                        <div class="card-body">
                            <h5 class="card-title text-truncate" style="text-align: center; color:rgb(193, 172, 55);">{{ restaurent.name }}</h5>
                            <p class="card-text text-muted">{{ restaurent.description|slice(0, 100) ~ '...' }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if restaurents|length == 0 %}
            <p class="text-center text-muted mt-4">Aucun restaurent disponible pour le moment.</p>
        {% endif %}
    </div>
        
</div>
{% endblock %}
