{% extends 'base.html.twig' %}

{% block title %}ReservaRestaurants{% endblock %}

{% block body %}
    <h1>ReservaRestaurants</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reserva_restaurant.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ reserva_restaurant.date ? reserva_restaurant.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Guest_name</th>
                <td>{{ reserva_restaurant.guestName }}</td>
            </tr>
            <tr>
                <th>Number_of_guests</th>
                <td>{{ reserva_restaurant.numberOfGuests }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reserva_restaurants_index') }}" class="btn btn-secondary m-1">back to list</a>

    <a href="{{ path('app_reserva_restaurants_edit', {'id': reserva_restaurant.id}) }}" class="btn btn-warning m-1">edit</a>

    {{ include('reserva_restaurants/_delete_form.html.twig') }}
{% endblock %}
